services:
  - type: web
    name: noltrion-hrm
    env: python
    buildCommand: ./build.sh
    startCommand: gunicorn -c gunicorn.conf.py main:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.4
      - key: ENVIRONMENT
        value: production
      - key: PROD_SESSION_SECRET
        generateValue: true
      - key: PROD_DATABASE_URL
        value: postgresql://noltrion_admin:1UzH1rVxlnimPf1qvyLEnuEeOnrybn7f@dpg-d3ii4fruibrs73cukdtg-a.oregon-postgres.render.com:5432/noltrion_hrm?sslmode=require
      - key: AUTO_MIGRATE_ON_STARTUP
        value: "true"
      - key: PROD_SESSION_SECRET
        sync: false
      - key: DEV_DATABASE_URL
        sync: false
    healthCheckPath: /health

databases:
  - name: noltrion-db
    databaseName: noltrion
    user: noltrion_user